@import url('https://fonts.googleapis.com/css?family=Corben');

body{
  color: purple;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
font-family: 'Corben', cursive;
}

h1{
  font-size: 3em;
}
